.custom-icon {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 25px;
}

.custom-font-color {
  color: #c83660;
}


.custom-icon-port {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }